.container-1{
    background: url('../../../assets/contact.png') no-repeat center center/cover;
}

.container-1 form{
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba (255,255,255,0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
}
.nav-link {
    position: relative;
  }
  
  
  
  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 20px;
    width: 0;
    height: 2px;
    background-color: rgb(77, 53, 175);
    transition: width 0.3s ease;
    transform-origin: left;
    margin-top: 10px;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
