/* YourComponent.css */

.image-container {
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
}

.image-container.selected {
    background-color: blue;
    border-color: blue;
}