@keyframes scale {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(2);
    }
  }
  
  @keyframes timing-6 {
    0% {
      animation-timing-function: steps(6, end);
    }
    100% {
      animation-timing-function: steps(6, end);
    }
  }