/* Header.css

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  li {
    cursor: pointer;
    
  }
  
  .tools-dropdown {
    position: absolute;
    list-style-type: none;
    background-color: #444;
    padding: 0;
    display: none;
  }
  
  .tools-dropdown li {
    padding: 10px;
  }
  
  .header li:hover .tools-dropdown {
    display: block;
  }
   */

/* .hover_test:hover .tools-dropdown{
    display:  block;
} */

/* Add underline with gap on hover */
.nav-link {
  position: relative;
}

.nav-link::after {
  content: ""; 
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease; 
}

.nav-link:hover::after {
  border-color: rgb(77, 53, 175); 
}
