/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
}
footer{
    position: relative;
    width: 100%;
    
    height: 100px;
    padding: 20px 50px;
}
footer .wave{
    position: absolute;
    width: 100%;
    top: -100px;
    margin-top:20px;
    left: 0;
    height: 100px;
background:  url(../../../assets/wave.png);    
    background-size: 1000px 100px;
}
footer .wave{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite ;
}
 
@keyframes animateWave{
0%{
    background-position: 1000px;
}
100%{
    background-position: 0px;
}

} */

#google_translate_element {
    /* Add your custom styles here */
  }
  #google_translate_element img{
    display: none !important;
  }
  .goog-te-gadget-simple {
    background-color: rgb(226 232 240 / var(--tw-bg-opacity)) !important ;   
    border-left: 0px solid #D5D5D5  !important;
    border-top: 0px solid #9B9B9B !important;
    border-bottom: 0px solid #E8E8E8 !important;
    border-right: 0px solid #D5D5D5 !important;
    color: #E8E8E8 !important;
  }
  .goog-te-gadget {
    color: white !important;
}
  