.BG {
    background-image: linear-gradient(to right, #b75878, #a174b4, #6995d5, #31b0d3, #58c2b9);
    width: 900px;
    border-radius: 20px;


}

.priced {
    position: relative;
}

.corner {
    background-color: #31b0d3;
    width: 160px;
    text-align: center;
    transform: rotate(-45deg) translate(0, -100%);
    transform-origin: 0 0;
    position: absolute;
    bottom: 74rem;
    right: 60rem;
    display: inline-block;
    /* clip-path: polygon(10% 20%, 100% 0, 90% 100%, 15% 100%); */
    clip-path: polygon(11.3% 0, calc(100% - 40Jpx) 0, 100% 100%, -3.9% 100%);
}

.bg {
    background-color: ghostwhite;
    border: rgba(0, 0, 255, 0.671) solid;
    padding: 5px 5px;
    border-radius: 5px;


}

.bgP {
    background-color: black;
    width: 200px;
    height: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;



}