@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Rubik:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.rubik {
	font-family: 'Rubik', sans-serif;
}

.poppins {
	font-family: 'Poppins', sans-serif;
}

.transition-3 {
	transition: all 0.33s ease;
	-webkit-transition: all 0.33s ease;
	-moz-transition: all 0.33s ease;
}

.transition-5 {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

.VIpgJd-ZVi9od-ORHb {
	margin: 0;
	background-color: #000 !important;
	overflow: hidden;
}

:root {
	--dark-text-gray: #f2f2f2 !important;
	--dark-text-white: #ffffff !important;
	--dark-mode-bg: #3a3f47;
}
